@import url("../../App.css");
.category{
    text-align: center;
    font-size: 32px;
    font-weight: var(--font-weight500);
    color: var(--black-color-light);
    margin: 5% 0 3% 0;
}
.category-section{
    border-radius: 0%;
    display: block;
}
.category-image{
    border-radius: 0%;
}
.category-body{
    background-color: var(--black-color);
}
.category-text{
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-weight500);
    color: var(--white-color);
}
@media (max-width: 768px){
    .category{
        font-size: 28px;
    }
    .margin-tablet{
        margin-right:50px;
    }
    .margin-camisa{
        margin-left: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 375px){
    .category-section{
        margin: 5% 0% 5% 15%;
    }
}