@import url("../../App.css");

.title {
    text-align: center;
    font-size: 32px;
    font-weight: var(--font-weight500);
    color: var(--black-color-light);
    margin: 5% 0 3% 0;
}

.card-image {
    height: 600px;
    width: 350px;
    border-radius: 0%;
    margin-bottom: 1rem;

}

.card-image-border {
    border-radius: 0%;

}

.card-title-price {
    text-align: start;
    font-size: 16px;
    font-weight: var(--font-weight700);
    color: var(--black-color-light);
}

.card-text {
    text-align: start;
    font-size: 13px;
    font-weight: var(--font-weight400);
    color: var(--black-color-light);
}

.card-button {
    text-align: start;
    font-size: 16px;
    font-weight: var(--font-weight500);
    color: var(--white-color);
    border: 1px solid var(--purple-color);
    background-color: var(--purple-color);
    padding: 5px 16px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    max-width: 800px;
}

.modal-flex {
    display: flex;
    gap: 2rem;
}
.modal-price, .modal-text{
    color: var(--black-color) !important;
}
.modal-header {
    background-color: var(--black-color);
}

.modal-title {
    color: var(--white-color);
    margin-right: 35%;
}

.modal-label,
.modal-input {
    margin: 5px
}

.modal-button {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: var(--font-weight500);
    color: var(--white-color);
    border: 1px solid var(--purple-color);
    background-color: var(--purple-color);
    padding: 5px 16px;
}
.modal-icon{
    margin-right: -20px;
}
@media(max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .card-image {
        margin: 5% 0% 0 2%;
    }

    .jacket-card {
        margin-top: 0;
        margin-left: 109%;
        margin-top: -178%;
    }

    .calcado-card {
        margin-left: -52%;
    }

    .oculos-card {
        margin-top: -2%;
        margin-left: -106%;
    }

    .bolsa-card {
        margin-left: 55%;
        margin-top: -171%;
    }
}

@media(max-width: 375px) {
    .card-image {
        margin: 5% 5% 0 3%;
    }

    .jacket-card {
        margin-top: 0;
    }
    .modal-content {
        max-width: 40%;
        margin: 1rem;
    }
    .modal-image{
        width: 50%;
        margin-left: 25%;
    }
    
    .modal-flex {
        display: block;
        gap: 1rem;
    }
}